{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Aviso de Privacidad</title>
</head>
<body>
    <div id="aviso">
        <h1>Aviso de Privacidad</h1>
        <article>
            <p>“REGISTRO DE ESTRUCTURA”, es el sujeto obligado y responsable del tratamiento de los datos personales que se recaban de forma general a través de https://forms.gle/
knp2wuhpcy2Eje2EA, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, y demás 
normatividad que resulte aplicable; dichos datos son los listados en el apartado siguiente. Los datos personales recolectados por los simpatizantes y encargados de 
estructuras, o aquellos datos recabados por cualquier otro sujeto obligado que utilice https://forms.gle/knp2wuhpcy2Eje2EA para la prestación de información digital, serán 
tratados bajo su responsabilidad, conforme a sus atribuciones legales y el aviso de privacidad correspondiente; siendo “REGISTRO DE ESTRUCTURA”, únicamente responsable de 
custodiar la información remitida, y mas no responsable de la veracidad de la misma.
Datos personales que se recolectan en “REGISTRO DE ESTRUCTURA” y la finalidad del tratamiento
Los datos personales que se recaba a través de https://forms.gle/knp2wuhpcy2Eje2EA, son responsabilidad del usuario de la cuenta con la que se realizan los registros, y su 
veracidad es responsabilidad de quien los proporciona, estos datos personales se recopilan para el REGISTRO DE ESTRUCTURA. Se informa que se recabarán datos personales 
sensibles. Serán utilizados para la siguiente finalidad: Única: recopilar información de trabajadores del Instituto Mexicano del Seguro Social.
Uso de Cookies
https://forms.gle/knp2wuhpcy2Eje2EA utiliza cookies para ayudar a obtener información que nos permite mejorar la experiencia de usuario y brindar un mejor servicio. En 
cualquier momento, dichas cookies pueden ser eliminadas accediendo a las preferencias de configuración del navegador en uso.
Fundamento legal para llevar a cabo el tratamiento
“REGISTRO DE ESTRUCTURA”, trata los datos personales antes señalados con fundamento en los artículos 6° Base A y 16 segundo párrafo de la Constitución Política de los 
Estados Unidos Mexicanos; 3°, fracción XXXIII, 4°, 16, 17 y 18 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados; 1° y 8º, fracción I, y 
transitorios Segundo y Décimo Tercero de la Ley Orgánica de la Administración Pública Federal; Primero, Tercero y Décimo Tercero del Decreto por el que se establece la 
Ventanilla Única Nacional para los Trámites e Información del Gobierno; las disposiciones Tercera, Cuarta, fracciones I y II, y Décimo Sexta de las Disposiciones Generales 
para la implementación, operación y funcionamiento de la Ventanilla Única Nacional; y los artículos 2, fracción VI; 3, fracción IX y 36, fracciones III y XVII del 
Reglamento de la Oficina de la Presidencia de la República.
Mecanismo para ejercer sus derechos de acceso, rectificación, cancelación u oposición de sus datos personales (ARCO)
El titular de los datos podrá ejercer sus derechos ARCO personalmente en el siguiente enlace https://forms.gle/knp2wuhpcy2Eje2EA.
Transferencia de datos personales
No se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos debidamente fundados y motivados, provenientes de una 
      autoridad competente. </p>
        </article>
    </div>    
    <div id="validate">
        <input type="checkbox" name="validate">Acepto
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>